<%- include('../_partial/header.ejs', { title: 'Hiscores' }); %>
<%- include('../_components/frame-top.ejs'); %>
<%- include('../_components/content-start.ejs'); %>
<%- include('../_components/title-box.ejs', { title: '2004Scape ' + profile.name + ' Hiscores' }); %>
<%- include('./partials/profile.ejs', { profile, profiles }) %>

<table>
    <tr>
        <td width=160>
            <center>
                <b>Select hiscore table</b><br>

                <table width=150 height=400 bgcolor=black cellpadding=4>
                    <tr>
                        <td class=e>
                            <center>
                                <table height=380 cellspacing="1" cellpadding="0">
                                    <% for (const category of categories) { %>
                                    <tr>
                                        <td><a href='/hiscores?category=<%= category.id %>' class=c><%= category.name %></a></td>
                                    </tr>
                                    <% } %>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>
            </center>
        </td>

        <td width=290>
            <center>
                <b><%= category.name %> <%= profile.name %> Hiscores</b><br>

                <table width=300 height=400 bgcolor=black cellpadding=4>
                    <tr>
                        <td class=e>
                            <table>
                                <tr>
                                    <td align="right">
                                        <b>Rank</b><br>
                                        <% for (const row of results) { %>
                                            <% if (row.highlighted) { %>
                                            <font color=yellow><%= row.rank %></font><br>
                                            <% } else { %>
                                            <%= row.rank %><br>
                                            <% } %>
                                        <% } %>
                                        <% for (let i = 0; i < 21 - results.length; i++) { %>
                                            &nbsp;<br>
                                        <% } %>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <b>Name</b><br>
                                        <% for (const row of results) { %>
                                            <% if (row.highlighted) { %>
                                            <font color=yellow>
                                                <a href='/hiscores/player/<%= row.username %>' class=c>
                                                    <%- toDisplayName(row.username) %>
                                                </a>
                                            </font><br>
                                            <% } else { %>
                                            <a href='/hiscores/player/<%= row.username %>' class=c>
                                                <%- toDisplayName(row.username) %>
                                            </a><br>
                                            <% } %>
                                        <% } %>
                                        <% for (let i = 0; i < 21 - results.length; i++) { %>
                                            &nbsp;<br>
                                        <% } %>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td>
                                        <b>Level</b><br>
                                        <% for (const row of results) { %>
                                            <% if (row.highlighted) { %>
                                            <font color=yellow><%= numberWithCommas(row.level) %></font><br>
                                            <% } else { %>
                                            <%= numberWithCommas(row.level) %><br>
                                            <% } %>
                                        <% } %>
                                        <% for (let i = 0; i < 21 - results.length; i++) { %>
                                            &nbsp;<br>
                                        <% } %>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td align=right>
                                        <b>XP</b> <br>
                                        <% for (const row of results) { %>
                                            <% if (row.highlighted) { %>
                                            <font color=yellow><%= numberWithCommas(Math.trunc(row.value / 10)) %></font><br>
                                            <% } else { %>
                                            <%= numberWithCommas(Math.trunc(row.value / 10)) %><br>
                                            <% } %>
                                        <% } %>
                                        <% for (let i = 0; i < 21 - results.length; i++) { %>
                                            &nbsp;<br>
                                        <% } %>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>

<%- include('./partials/search.ejs', { category, rank, username }) %>
<%- include('../_components/content-end.ejs'); %>
<%- include('../_partial/footer.ejs'); %>
