<%- include('./_partial/header.ejs', { title: 'Guide' }); %>
<%- include('./_components/frame-top.ejs'); %>
<%- include('./_components/content-start.ejs'); %>
<%- include('./_components/title-box.ejs', { title: 'Guide' }); %>

<%- include('./_components/content-body-start.ejs'); %>
<p>This area is under construction - Coming Soon!</p>
<%- include('./_components/content-body-end.ejs'); %>
<br>

<%- include('./_components/content-end.ejs', { nobr: true }); %>
<%- include('./_partial/footer.ejs'); %>
