<%- include('./_partial/header.ejs', { title: 'Guide' }); %>
<%- include('./_components/frame-top.ejs'); %>
<%- include('./_components/content-start.ejs'); %>
<%- include('./_components/title-box.ejs', { title: 'Guide' }); %>

<%- include('./_components/content-body-start-left.ejs'); %>
<center>
    <p>This area is still under construction!</p>
</center>

<%- include('./_partial/rules.ejs'); %>

<%- include('./_components/content-body-end-left.ejs'); %>
<br>

<%- include('./_components/content-end.ejs', { nobr: true }); %>
<%- include('./_partial/footer.ejs'); %>
