<%- include('./_partial/header.ejs', { title: 'Guide' }); %>
<%- include('./_components/frame-top.ejs'); %>
<%- include('./_components/content-start.ejs'); %>
<%- include('./_components/title-box.ejs', { title: 'Guide' }); %>

<%- include('./_components/content-body-start-left.ejs'); %>
<center>
    <p>This area is still under construction!</p>
</center>

<strong class="red">
    <hr>
    The rules here are very simple:
    <ul>
        <li>Be kind and respectful to others. Each and every one of you represents the community!</li>
        <li>No obscene usernames. If can't say it to your parents or strangers, it's probably not a good name.</li>
        <li>Do not play multiple accounts at once, and do not interact between your alternate accounts in any way. ALTERNATE playing them!</li>
        <li>Do not cheat. You will be caught.</li>
        <li>No real-world trading. This includes methods that indirectly translate to real-world trading.</li>
    </ul>
    All of these are very serious and breaking any of them may result in a permanent ban.
</strong>

<%- include('./_components/content-body-end-left.ejs'); %>
<br>

<%- include('./_components/content-end.ejs', { nobr: true }); %>
<%- include('./_partial/footer.ejs'); %>
