<%- include('./_partial/header.ejs', { title: 'Guide' }); %>
<%- include('./_components/frame-top.ejs'); %>
<%- include('./_components/content-start.ejs'); %>
<%- include('./_components/title-box.ejs', { title: 'Guide' }); %>

<%- include('./_components/content-body-start.ejs'); %>
<p>This area is still under construction!</p>

<hr>
The rules here are very simple:
<ul>
    <li>Be kind and respectful to others. Each and every one of you represents the community!</li>
    <li>Do not play multiple accounts at once, and do not interact between your alternate accounts in any way. ALTERNATE playing them!</li>
    <li>Do not cheat. You will be caught.</li>
    <li>No real-world trading. This includes methods that indirectly translate to real-world trading.</li>
</ul>
All of these are very serious and breaking any of them may result in a permanent ban.

<%- include('./_components/content-body-end.ejs'); %>
<br>

<%- include('./_components/content-end.ejs', { nobr: true }); %>
<%- include('./_partial/footer.ejs'); %>
